.navbar {
  width: 100%;
  height: 50px; /* Disesuaikan untuk perangkat seluler */
  padding: 0px; /* Disesuaikan untuk perangkat seluler */
  margin: 0 auto;
  border-radius: 5px; /* Mengurangi radius border agar lebih konsisten */
}

.body {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 600px;
}

.table {
  width: 90%;
  height: auto;
  border-radius: px; /* Mengurangi radius border agar lebih konsisten */
  border: 1px solid rgb(0, 204, 255); /* Mengurangi ketebalan border */
  box-shadow: rgb(0, 204, 255) 0px 0px 10px 3px; /* Mengurangi ukuran bayangan */
  margin: 25px auto; /* Memusatkan elemen secara horizontal */
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-size: 64dvh;
  background-attachment: inherit;
}

.container {
  max-width: 600px;
  margin: 25px auto;
}

.button {
  max-width: 600px;
  border-radius: 15px; /* Mengurangi radius border agar lebih konsisten */
  width: 80%;
  padding: 12px 24px; /* Mengurangi padding agar tidak terlalu besar */
  text-align: center;
  align-items: center;
  font-size: 5px; /* Mengurangi ukuran font agar lebih sesuai dengan perangkat seluler */
  margin: 5px auto;
  transition-duration: 0.4s;
  }

.button1,
.button2,
.button3,
.button4 {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 5px solid #00b7ff; /* Mengurangi ketebalan border */
}
@media (min-width: 992px) {
  #walawe {
    margin: 50px auto; /* Memusatkan elemen secara horizontal */
    width: 100%; /* Lebar elemen lebih kecil dari 100% untuk memberi ruang di kiri dan kanan */
  }
}

/* Media query tambahan untuk perangkat seluler dengan lebar maksimum 576px */
@media (max-width: 576px) {
  .navbar {
    height: 50px;
    padding: 0px;
  }

  .body {
    width: 95%;
    margin: 10px auto;
    padding: 0px;
  }

  .button {
    font-size: 10px;
    padding: 8px 16px;
  }

